.secao{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

}

.secao-title{
    color: #ffb500;
    text-transform: capitalize;
}

.lista{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}